<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/mentor_trainee</property>
        <property name="dialect">
            org.hibernate.dialect.PostgreSQL10Dialect
        </property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">root</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <mapping class="app.entity.User"/>
        <mapping class="app.entity.UserAuthority"/>
        <mapping class="app.entity.ProgrammingLangs"/>
        <mapping class="app.entity.Mentor"/>
        <mapping class="app.entity.Trainee"/>


    </session-factory>

</hibernate-configuration>