.main-body{
    width: 100%;
    height: 2000px;
    background: #F9FAFC;

    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
}


#notifactions-result{
    font-size: 28px;
    margin-left: 36px;
    margin-top: 15px;

}

.submit-button{

    margin-right: 10px;
    margin-top: 0px;
    width: 100%;
    height: 33%;
    background: #83aa6b;
    color: #FFF;
    text-align: center;
    border-radius: 10px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    border: none;
}


.submit-button:hover{
    background:#1a2a10;
}
textarea{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    border: none;

}

.main-body#sign-in{
    height: 1000px;
}

.my-container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 70px;
    width: 99%;
    border-radius: 8px;
    margin-left: 8px;
    margin-top: 20px;
}

.my-container#sign-form{
    margin-bottom: 100px;
}


.menu-button{
    height: 35px;
    flex: 1 1 80px;
    margin-left: 20px;
    margin-right: 20px;
    align-self: center;
    border-radius: 10px;
    text-align: center;
    padding-top: 15px;
    color: #B1B7C5;
    text-decoration: none;
}
.sign-item{
    padding-top: 12px;
    padding-bottom: 38px;
}

.menu-button:checked{
    background: #F0F0F0;
}

.menu-button:hover{
    background: #FFF;
    color: black;
}

.menu-button#notifactions-button{
    color: #FFF;
    background: #B1B7C5;
}
.menu-button#notifactions-button:hover{
    background: #808080;
}

.menu-button#log-out{
    margin-left: 35%;
}
.menu-button#one {
    margin-left: 35%;
    flex: 2 1;
    color: #FFF;
    background: radial-gradient(112.5% 492.19% at 81.88% 100%, #0066FF 0%, #0085FF 100%);
}

.menu-button#one:hover{
    background: #1f104f;
}
.content-background{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background: white;

    width: 74%;
    border-radius: 8px;
    margin-left: 13%;
    margin-top: 20px;
    margin-right: 10%;
}

.main-content-box{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    width: 80%;
    border-radius: 8px;
    margin-left: 10%;
    margin-top: 10px;
    margin-right: 10%;
}

.main-content-box .filter-menu{
    margin-top: 20px;
    width: 15%;
    background: #FFF;
    border-radius: 5px;
    margin-left: 15px;
    padding-top: 10px;
    padding-left: 10px;
    overflow: scroll;
    overflow-x:hidden;
}

.content-background .contact-side-bar{
    margin-top: 10px;

    width: 30%;

    border-radius: 5px;
    margin-left: 15px;
    padding-top: 10px;
    padding-left: 10px;
}

.main-content-box .filter-menu::-webkit-scrollbar {
    width: 1em;
}

.main-content-box .filter-menu::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #E5E5E5;
}

.main-content-box .filter-menu::-webkit-scrollbar-thumb {
    background-color: #E8E8E8;
    outline: 1px solid slategrey;
}

.main-content-box .filter-menu .filter-form{
    margin-left: 0px;
    padding-bottom: 10px;
}

.label {
    width: 15px;
    height: 15px;
    top: 0;
    left: 0;
    cursor: pointer;
    padding: 0 20px;
    background: #929CB9;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.label:after {
    content: "";
    width: 10px;
    height: 5px;
    position: absolute;
    top: 5px;
    left: 4px;
    border: 3px solid #172751;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.main-content-box .filter-menu .filter-form .button{
    background: radial-gradient(112.5% 492.19% at 81.88% 100%, #0066FF 0%, #0085FF 100%);
    height: 30px;
    width: 50px;
    outline: none;
    border-radius: 5px;
    color: #FFF;
}

.underlined-text{
    border-bottom: 2px solid maroon;
    padding-bottom: 5px;
}

.main-content-box .main-content{
    margin-top: 20px;
    display: block;
    width: 83%;
    background: #FFF;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;
    padding-left: 10px;
}
.content-background .profile-lang-data-content{
    margin-top: 10px;
    display: block;
    width: 100%;
    border-radius: 5px;
    margin-right: 15px;
    padding-top: 10px;

}

.search-item{
    margin-top: 20px;
    display: none;
    height: 180px;

    background: white;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-left: 10px;
}

.search-item.show {
    display: flex;
}

.search-item#add{
    margin-top: 20px;
    display: flex;
    height: 40px;
    background: white;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;
    padding-left: 10px;
}

.search-item img{
    display: flex;
    border-radius: 9px;
    width: 22.5%;
    height: 100%;
    margin-left: 10px;
    margin-right:10px;
}
img.full-size{
    display: flex;
    border-radius: 9px;
    width: 96%;
    height: 100%;
    margin-left: 0px;
    margin-right:10px;
}
.info-box{
    padding: 18px;
    border-radius: 9px;
    margin-left: 10px;
    margin-right: 10px;
    width: 56%;
    height: 85%;
    background: #F8F8F8;
}
.profile-box{
    width: 90%;
    padding: 18px;
    border-radius: 9px;
    background: #F8F8F8;
    display: block;
}

select{
    width: 150px;
    margin-bottom: 10px;
}
.side-bar{
    padding: 18px;
    border-radius: 9px;
    width: 100%;

    margin-right: 10px;
    height: 85%;
    background: #F8F8F8;
}


.accept-box{
    padding: 18px;
    border-radius: 9px;
    margin-left: 10px;
    margin-right: 10px;
    height: 85%;
    background: #F8F8F8;
    display: flex;
    flex-direction: column;
    width: 20%;
}

.language-mark{
    height: 20px;
    background: #FFF;
    border-color: slategrey;
    color: #B1B7C5;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
}
.language-mark:hover{
    color: #0068FF;
}

#add.info-box{
    padding: 18px;
    border-radius: 9px;
    margin-left: 10px;
    margin-right: 10px;
    width: 56%;
    height: 85%;
    background: #F8F8F8;
}

.info-box#info-page{
    width:72%;
    float: right;
}

.language-box{
    width: 100%;
    display: flex;
    color: #B1B7C5;


}
.search-item .info-box#add-item{
    width:20px;
    height: 20px;
    margin-right: 10px;
    margin-left: auto;
    float: right;
    background: #B1B7C5;
    color: #fff;
}


.search-item .info-box#add-item:hover{
    background: #1f104f;
    color: #fff;
}

.search-item .info-box#apply-box{
    margin-right: 10px;
    width: 20%;
}

#change-profile{
    margin-right: 10px;
    width: 100%;
    height: 13%;
    background: #B1B7C5;
    color: #FFF;
    text-align: center;
}

#change-profile:hover{
    background: #1f104f;
}

.search-item .info-box#info-page.right-margin{
    margin-left: auto;
    margin-right: 10px;
    width:71%;

}
#apply-box .price{
    color: #0068FF;
    font-size: 40px;
}

.search-item .info-box#apply-box .message-button{
    background: #0068FF;
    height: 40px;
    width: 80%;
    color: #fff;
    margin-top: 15px;
    padding-top: 10px;
    text-align: center;
    border-radius: 8px;
}

.search-item .info-box#apply-box .message-button .info-page{
    height: 30px;
    width: 70%;
}

.search-item .info-box#apply-box .message-button:hover{
    background: #1f104f;
}

.message-button{
    background: #0068FF;
    height: 36px;
    width: 80%;
    color: #fff;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 10%;
    padding-top: 14px;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;

}

.accept{
    background: #83aa6b;
    height: 40px;
    width: 80%;
    color: #fff;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
}

.dismiss{
    background: #B1B7C5;
    height: 40px;
    width: 80%;
    color: #fff;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;

}

.dismiss:hover{
    background: #808080;
    color: #fff;
}
.language{
    color: #0066FF;
    margin-left: 30px;
}
.accept:hover{
    background: #1f104f;
    color: #fff;
}


.message-button:hover{
    background: #1f104f;
    color: #fff;
}

#apply-box a{
    color: #B1B7C5;
    font-size: 16px;


}

#apply-box a:hover{
    color: #0068FF;

}
