<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <display-name>SecurityWebApp</display-name>
    <context-param>
        <param-name>javax.faces.CONFIG_FILES</param-name>
        <param-value>hibernate.cfg.xml</param-value>
    </context-param>

    <context-param>
        <param-name>path_to_image</param-name>
        <param-value>/images</param-value>
    </context-param>


    <welcome-file-list>

        <welcome-file>/</welcome-file>

    </welcome-file-list>

    <filter>
        <filter-name>SFilter</filter-name>
        <filter-class>app.filter.SecurityFilter</filter-class>
        <init-param>
            <param-name>active</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>SFilter</filter-name>
        <url-pattern>/myInfo</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>MentorDet</servlet-name>
        <servlet-class>app.servlet.MentorDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>MentorDet</servlet-name>
        <url-pattern>/mentorSearch/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>


</web-app>